@font-face {
    font-family: suse;
    src: url("./assets/SUSE-VariableFont_wght.ttf");
}
body {
    margin: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr)
}
.about-me {
    background-color: blanchedalmond;
    
}
.works {
    padding: 30px;
    background-color: brown;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 15px;
}
.card-container {
    border: 1px solid black;
    padding: 10px;
}
.contact-section {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.picture {
    min-width: 500px;
    min-height: 500px;
    background-image: url("./assets/pexels-olly-874158.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-picture {
    position: relative;
    min-width: 400px;
    min-height: 400px;
    background-image: url("./assets/pexels-olly-874158.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-picture h1 {
    position: absolute;
    bottom: 20px;
    left: 45%;
    transform: translateX(-50%);
    margin: 0;
    color: white;
    font-size: 50px;
    text-align: center;
}